<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student confirmation Form</title>
</head>

<body>

<h3>Student confirmation Form</h3>

    <!-- This line is responsible for calls student.getFirstName and student.getLastName -->
The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>

<br><br>

<!-- This line is responsible for calls student.getCountry -->
Country: <span th:text="${student.country}" />


<br><br>

<!-- This line is responsible for calls student.getFavouriteLanguage -->
Favourite Programming Language: <span th:text="${student.favouriteLanguage}" />


</body>
</html>